@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.ImageUrl == null)
{
    <p class="info">No images currently available.</p>
}
else
{
    <img class="random" src=@Model.ImageUrl />
}
<p class="info">Refresh for another image.</p>
<p class="info">@Model.ApprovedCount images available; @Model.UploadedCount awaiting approval.</p>
