@page
@model UploadModel
@{
    ViewData["Title"] = "Upload";
}

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
<p>Uploaded files need to be approved before being added to the random image pool.</p>
<p>By uploading an image, you affirm it is freely distributable by this service.</p>
