@page
@{
    ViewData["Title"] = "Usage";
}

<p>In addition to this web interface, there is a public API.</p>
<dl class="usage">
    <dt>/api/random</dt>
    <dd>Returns a path to a random approved image.</dd>
    <dt>/api/get/{id}.{extension}</dt>
    <dd>Returns the corresponding image, if it exists.</dd>
    <dt>/api/upload</dt>
    <dd>POST an image as <code>file</code> to submit it for approval.</dd>
</dl>
