<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Random Bat Service :: @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <a class="title" asp-page="Index">Random Bat Service</a>
            <ul class="menu">
                <li><a asp-page="Index">Home</a></li>
                <li><a asp-page="Upload">Upload</a></li>
                <li><a asp-page="Usage">Usage</a></li>
            </ul>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            Created by Hunter Turcin. <a href="https://gitlab.com/huntertur/RandomBat">Source Code</a>
        </footer>
    </body>
</html>
