body {
    font-family: sans-serif;
}

header {
    text-align: center;
}

.title {
    font-size: 2em;
}

footer {
    border-top-style: solid;
}

.info {
    text-align: center;
}

.random {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media (max-width: 1280px) {
    .random {
        max-width: 100%;
    }
}

.menu {
    padding-left: 0;
}

.menu > li {
    display: inline;
}

.usage > dt {
    font-family: monospace;
}
